<a href="https://colab.research.google.com/github/Lucas-Petrus/DS-Unit-2-Linear-Models/blob/master/Lucas_Petrus_LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [431]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [432]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [433]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [434]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [435]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [436]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.

In [437]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [438]:
df = df.drop(columns= {'Chips', 'Mass (g)', 'Density (g/mL)','Length','Circum','Volume',
             'Unreliable',	'NonSD',	'Beef',	'Pico',	'Guac',	'Cheese',	'Fries',	'Sour cream',
             'Pork',	'Chicken',	'Shrimp',	'Fish',	'Rice',	'Beans',	'Lettuce',	'Tomato',	'Bell peper',
             'Carrots',	'Cabbage',	'Sauce',	'Salsa.1',	'Cilantro',	'Onion',	'Taquito',	'Pineapple',
             'Ham',	'Chile relleno',	'Nopales',	'Lobster',	'Queso',	'Egg',	'Mushroom',	'Bacon',	'Sushi',
             	'Avocado',	'Corn',	'Zucchini',	'Yelp','Google','Burrito'}, axis=1)

In [439]:
df.head()

        Date  Cost  Hunger  Tortilla  ...  Salsa  Synergy  Wrap  Great
0  1/18/2016  6.49     3.0       3.0  ...    4.0      4.0   4.0  False
1  1/24/2016  5.45     3.5       2.0  ...    3.5      2.5   5.0  False
2  1/24/2016  4.85     1.5       3.0  ...    3.0      3.0   5.0  False
3  1/24/2016  5.25     2.0       3.0  ...    4.0      4.0   5.0  False
4  1/27/2016  6.59     4.0       4.0  ...    2.5      4.5   4.0   True

[5 rows x 13 columns]

In [440]:
df.isnull().sum()

Date             0
Cost             7
Hunger           3
Tortilla         0
Temp            20
Meat            14
Fillings         3
Meat:filling     9
Uniformity       2
Salsa           25
Synergy          2
Wrap             3
Great            0
dtype: int64

In [441]:
df = df.dropna()

In [442]:
y = df['Great']
y.shape

(356,)

In [443]:
df = df.drop('Great', axis=1)
df.head()

        Date  Cost  Hunger  Tortilla  ...  Uniformity  Salsa  Synergy  Wrap
0  1/18/2016  6.49     3.0       3.0  ...         4.0    4.0      4.0   4.0
1  1/24/2016  5.45     3.5       2.0  ...         4.0    3.5      2.5   5.0
2  1/24/2016  4.85     1.5       3.0  ...         4.0    3.0      3.0   5.0
3  1/24/2016  5.25     2.0       3.0  ...         5.0    4.0      4.0   5.0
4  1/27/2016  6.59     4.0       4.0  ...         5.0    2.5      4.5   4.0

[5 rows x 12 columns]

In [444]:
df.head()
print(df.shape)

(356, 12)

In [445]:
import pandas as pd
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)

In [446]:
train = df[df['Date'].dt.year <= 2016]
train = train.drop(columns='Date')
y_train = y[y.index.isin(train.index)]
train.head()

   Cost  Hunger  Tortilla  Temp  ...  Uniformity  Salsa  Synergy  Wrap
0  6.49     3.0       3.0   5.0  ...         4.0    4.0      4.0   4.0
1  5.45     3.5       2.0   3.5  ...         4.0    3.5      2.5   5.0
2  4.85     1.5       3.0   2.0  ...         4.0    3.0      3.0   5.0
3  5.25     2.0       3.0   2.0  ...         5.0    4.0      4.0   5.0
4  6.59     4.0       4.0   5.0  ...         5.0    2.5      4.5   4.0

[5 rows x 11 columns]

In [447]:
val = df[df['Date'].dt.year == 2017]
val = val.drop(columns='Date')
y_val = y[y.index.isin(val.index)]
val.head()

     Cost  Hunger  Tortilla  Temp  ...  Uniformity  Salsa  Synergy  Wrap
303  8.50     3.9       3.0   4.5  ...         4.0    4.3      4.2   5.0
304  7.90     4.0       3.5   4.0  ...         4.5    4.0      3.8   4.8
305  4.99     3.5       2.5   4.5  ...         3.0    2.0      2.0   4.0
306  7.29     3.5       3.0   2.0  ...         2.5    3.7      3.2   4.2
307  7.89     3.0       4.0   5.0  ...         3.5    3.0      4.5   2.5

[5 rows x 11 columns]

In [448]:
test = df[df['Date'].dt.year == 2018]
test = test.drop(columns='Date')
y_test = y[y.index.isin(test.index)]
test.head()

     Cost  Hunger  Tortilla  Temp  ...  Uniformity  Salsa  Synergy  Wrap
386  7.25     4.0       4.0   5.0  ...         3.0    3.0      4.0   5.0
387  4.19     3.0       3.0   5.0  ...         1.0    4.0      3.0   4.0
388  7.00     5.0       5.0   5.0  ...         5.0    4.0      5.0   5.0
389  8.50     4.0       4.0   4.0  ...         2.0    3.0      3.0   1.0
390  7.20     3.0       4.0   5.0  ...         3.0    4.0      3.0   4.0

[5 rows x 11 columns]

In [449]:
print(train.shape)
print(val.shape)
print(test.shape)

(250, 11)
(74, 11)
(23, 11)

Begin with baselines for classification.
 Use scikit-learn for logistic regression.

In [450]:
y_train.value_counts(normalize=True)

False    0.616
True     0.384
Name: Great, dtype: float64

In [454]:
y_test.value_counts(normalize=True)

False    0.521739
True     0.478261
Name: Great, dtype: float64

In [451]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from category_encoders import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

log_model = Pipeline([
                      ('ohe', OneHotEncoder(cols=['Hunger', 'Fillings'])),
                      ('imputer', SimpleImputer()),
                      ('classifier', LogisticRegression())
])

In [452]:
log_model.fit(train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Pipeline(memory=None,
         steps=[('ohe',
                 OneHotEncoder(cols=['Hunger', 'Fillings'],
                               drop_invariant=False, handle_missing='value',
                               handle_unknown='value', return_df=True,
                               use_cat_names=False, verbose=0)),
                ('imputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='mean',
                               verbose=0)),
                ('classifier',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [457]:
print('Train accuracy:', log_model.score(train, y_train))
print('Val accuracy:', log_model.score(val, y_val))
print('Test accuracy:', log_model.score(test,y_test))

Train accuracy: 0.908
Val accuracy: 0.8783783783783784
Test accuracy: 0.782608695652174